<!DOCTYPE html>
<html ng-app="phonebook">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/ladda/dist/ladda-themeless.min.css">
        <link rel="stylesheet" type="text/css" href="css/global.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">People</a>
                </div>
                <div>
                    <!--                    <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Page 1</a></li>
                                            <li><a href="#">Page 2</a></li>
                                            <li><a href="#">Page 3</a></li>
                                        </ul>-->
                </div>
            </div>
        </nav>

        <div class="container-fluid ">
            <div class="col-lg-6 col-lg-offset-3" ng-controller="PersonControler">
                <form novalidate="novalidate" ng-submit="onSubmit()">
                    <h3 class="text-center">New Contact</h3>
                    <div class="form-group">
                        <label for="name">Person Name</label>
                        <input type="text" id="name" name="name" class="form-control input-lg"
                               ng-model="formModel.name"
                               ng-pattern="/^[A-Za-z\s]{1,101}$/"
                               ng-minlength="2"
                               ng-maxlength="100"
                               ng-min-err-type = "shotName"
                               ng-max-err-type = "longName"
                               ng-pattern-err-type="badName"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" ng-model="formModel.email" required="required" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pic">Prifile pictire</label>
                        <input type="text" ng-model="formModel.photo" required="required" id="pic" class="form-control" 
                               readonly>
                    </div>

                    <div class="form-group" >
                        <label for="sex">Sex</label>
                        <select class="form-control"
                                ng-model="formModel.sex" id="sex" required>
                            <option value="" >Choose here</option >
                            <option value="Male" >Male</option >
                            <option value="email" >Female</option >
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="birthdate">Birthdate</label>
                        <input type="t" ng-model="formModel.birthdate" id="birthdate" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone number</label>
                        <input type="text" ng-model="formModel.phone" id="phone" class="form-control" required> 
                    </div>

                    <div class="form-group">
                        <button class="btn btn-lg btn-success" 
                                ladda="submitting"
                                data-style="expand-right"
                                type="submit">
                            <span ng-show="!submiting">Save</span>
                            <span ng-show="submiting">Saving</span>
                        </button>
                    </div>
                </form>

                <div id="list">
                    <div class="row col-xs-12">
                        <form class="form-inline well well-sm">
                            <span class="glyphicon glyphicon-search"></span>
                            <div class="form-group">
                                <input type="text" class="form-control" id="nameSearch" placeholder="Name" ng-model="search">
                            </div>
                            <span class="glyphicon glyphicon-sort-by-attributes" ></span >

                            <div class="form-group" >
                                <select class="form-control"
                                        ng-model="order">
                                    <option value="name" >Name (ASC)</option>
                                    <option value="-name" >Name (DESC)</option>
                                    <option value="email" >Email (ASC)</option>
                                    <option value="-email" >Email (DESC)</option>
                                </select>
                            </div> 
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Name
                                            <span ng-hide="order === 'name'" ng-click="order = 'name'" 
                                                  class="glyphicon glyphicon-menu-up"></span>
                                            <span ng-hide="order === '-name'" ng-click="order = '-name'" 
                                                  class="glyphicon glyphicon-menu-down"></span>
                                        </th>
                                        <th>
                                            Email
                                            <span ng-hide="order === 'email'" ng-click="order = 'email'" 
                                                  class="glyphicon glyphicon-menu-up"></span>
                                            <span ng-hide="order === '-email'" ng-click="order = '-email'" 
                                                  class="glyphicon glyphicon-menu-down"></span>
                                        </th>
                                        <th>Phone number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="person in filteredPeople = (people | filter:sensitiveSearch | orderBy:order)" 
                                        ng-click="selectPerson(person)" 
                                        ng-class="person.pk == selectedPerson.pk ? 'selected-row' : ''">
                                        <td>{{$index + 1}}</td>
                                        <td>{{person.name}}</td>
                                        <td>{{person.email}}</td>
                                        <td>{{person.phone}}</td>
                                    </tr>
                                    
                                    <tr ng-show="filteredPeople.length == 0">
                                        <td colspan="4">
                                            <div class="alert alert-info">
                                                <p class="text-center">
                                                    No results found for search term '{{search}}'
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Details</div>
                                <div class="panel-body">
                                    <dl>
                                        <dt>Name</dt >
                                        <dd>{{selectedPerson.name}}</dd>
                                        <dt>Email</dt >
                                        <dd>{{selectedPerson.email}}</dd>
                                        <dt>Birth Date</dt >
                                        <dd>{{selectedPerson.birthdate}}</dd>
                                        <dt>Phone Number</dt >
                                        <dd>{{selectedPerson.phone}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="col-lg-4 pull-right">
                    
                                        </div>-->

                </div>
            </div>
        </div>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
        <script type="text/javascript" src="js/angular-modules/app.js"></script>
        <script type="text/javascript" src="bower_components/ladda/js/spin.js"></script>
        <script type="text/javascript" src="bower_components/ladda/dist/ladda.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
    </body>
</html>
