<div class="col-md-12">
    
    <div class="row" infinite-scroll="loadMorePeople()" infinite-scroll-distance="2">
        
        <cc-card ng-repeat="person in personServiceRef.peopleList" person="person" delete-person="parentDeletePerson"></cc-card>
        
    </div>
    
<!--    <table class="table table-bordered" infinite-scroll="loadMorePeople()" infinite-scroll-distance="1">
        <thead>
            <tr>
                <th class="col-1"></th>
                <th class="col-2">

        <div class="sortables pull-left">
            <span ng-hide="personServiceRef.order === 'name'" ng-click="personServiceRef.order = 'name'" 
                  class="fa fa-2x fa-sort-asc sort-icon"></span>
            <span ng-hide="personServiceRef.order === '-name'" ng-click="personServiceRef.order = '-name'" 
                  class="fa fa-2x fa-sort-desc sort-icon"></span>
        </div>
        <div class="pull-left">
            Name
        </div>

        </th>
        <th class="col-3">
        <div class="sortables pull-left">
            <span ng-hide="personServiceRef.order === 'email'" ng-click="personServiceRef.order = 'email'" 
                  class="fa fa-2x fa-sort-asc sort-icon"></span>
            <span ng-hide="personServiceRef.order === '-email'" ng-click="personServiceRef.order = '-email'" 
                  class="fa fa-2x fa-sort-desc sort-icon"></span>
        </div>
        <div class="pull-left">
            Email
        </div>
        </th>
        <th class="col-4">Phone number</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in personServiceRef.peopleList" 
                ui-sref="edit({id:person.pk})"
                ng-class="person.pk == personServiceRef.selectedPerson.pk ? 'selected-row' : ''">
                <td class="col-1"><img ng-src="{{person.photo| defaultImage:'images/defaultImage.png' }}" class="img-circle profile-photo"/></td>
                <td>{{person.name}}</td>
                <td>{{person.email}}</td>
                <td>{{person.phone}}</td>
            </tr>

        </tbody>
    </table>
    <div ng-show="!personServiceRef.isLoading && personServiceRef.peopleList.length === 0">
        <div class="alert alert-info">
            <p class="text-center">
                No results found for search term '{{personServiceRef.search}}'
            </p>
        </div>
    </div>
    
    <cc-spinner is-loading="personServiceRef.isLoading"></cc-spinner>-->
    
</div>